<h2>Members</h2>

<form action="/members/new" method="get">
  <input class="btn btn--confirm" type="submit" value="Register new member">
</form>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Premium Member?</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.member_name %></a></td>
    <td><%= member.email %></td>
    <td><%= member.premium_membership %></td>

    <td> <form action="/bookings/<%= member.id %>/new" method="GET">
    <input class="btn btn--confirm" type="submit" value="Book a Class">
    </form>
    </td>

    <td> <form action="/members/<%= member.id %>/edit" method="GET">
    <input class="btn btn--edit" type="submit" value="Edit">
    </form>
    </td>

    <td> <form action="/members/<%= member.id %>/delete" method="POST">
      <input class="btn btn--delete" type="submit" value="Delete">
    </form>
    </td>

  </tr>
  <% end %>
</table>
