<h2><%= @member.member_name %></h2>

<h3>Current Bookings:</h3>

<table>
  <tr>
    <th>Workout</th>
    <th>Type</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><%= gymclass.workout.workout_name %></td>
    <td><%= gymclass.workout.workout_type %></td>
    <td><%= gymclass.start_date %></td>
    <td><%= gymclass.start_time %></td>
  </tr>
  <% end %>
</table>
