<h1><%= @member.member_name %></h1>

<p>Premium Member:</p>
<%= @member.premium_membership %>

<h3>Current Bookings:</h3>

<table>
  <tr>
    <th>Workout</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Time</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><%= gymclass.workout.workout_name %></td>
    <td>|</td>
    <td><%= gymclass.workout.workout_type %></td>
    <td>|</td>
    <td><%= gymclass.start_date %></td>
    <td>|</td>
    <td><%= gymclass.start_time %></td>
  </tr>
  <% end %>
</table>
