<h1>EDIT A CLASS HERE</h1>

<form action="/gymclasses/<%= @gymclass.id %>" method="post">

  <label for="workout_name">Workout Name:</label>
  <select name="workout_name">
    <% for workout in @workouts %>
      <% if workout.workout_name == @gymclass.workout.workout_name %>
        <option selected value="<%= workout.workout_name %>"><%= workout.workout_name %></option>
      <% else %>
        <option value="<%= workout.workout_name %>"><%= workout.workout_name %></option>
      <% end %>
    <% end %>
  </select>


  <label for="workout_type">Workout Type:</label>
  <select name="workout_type">
    <% for workout in @workouts %>
      <% if workout.workout_type == @gymclass.workout.workout_type %>
        <option selected value="<%= workout.workout_type %>"><%= workout.workout_type %></option>
      <% else %>
        <option value="<%= workout.workout_type %>"><%= workout.workout_type %></option>
      <% end %>
    <% end %>
  </select>


  <label for="workout_id"></label>
  <input type="hidden" name="workout_id" value="<%= @gymclass.workout_id %>">

  <label for="start_date">Date:</label>
  <input type="text" name="start_date" value="<%= @gymclass.start_date %>">

  <label for="start_time">Time:</label>
  <input type="text" name="start_time" value="<%= @gymclass.start_time %>">

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" value="<%= @gymclass.capacity %>">

  <input type="submit" value="Update Class Details">

</form>
