<h2>Class Schedule</h2>


<form action="/gymclasses/new" method="get">
  <input class="btn btn--confirm" type="submit" value="Create new class">
</form>

<br>

<form action="/members" method="get">
  <input class="btn btn--confirm" type="submit" value="Book a Class">
</form>

<br>


<table>
  <tr>
    <th>Workout</th>
    <th>Type</th>
    <th>Date</th>
    <th>Time</th>
    <th>Capacity</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><a href="/gymclasses/<%= gymclass.id %>"><%= gymclass.workout.workout_name %></a></td>
    <td><%= gymclass.workout.workout_type %></td>
    <td><%= gymclass.start_date %></td>
    <td><%= gymclass.start_time %></td>
    <td><%= gymclass.capacity %></td>
    <td><form action="/gymclasses/<%= gymclass.id %>/edit" method="GET">
      <input class="btn btn--edit" type="submit" value="Edit Class">
    </form>
  </td>
  <td>
    <form action="/gymclasses/<%= gymclass.id %>/delete" method = "POST">
      <input class="btn btn--delete" type="submit" value="Delete Class">
    </form>
  </td>
  </tr>
  <% end %>
</table>
