<h1>Class Schedule</h1>

<table>
  <tr>
    <th>Workout</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Time</th>
    <th></th>
    <th>Capacity</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><%= gymclass.workout.workout_name %></td>
    <td>|</td>
    <td><%= gymclass.workout.workout_type %></td>
    <td>|</td>
    <td><%= gymclass.start_date %></td>
    <td>|</td>
    <td><%= gymclass.start_time %></td>
    <td>|</td>
    <td><%= gymclass.capacity %></td>
    <td><form action="/gymclasses/<%= gymclass.id %>/edit" method="GET">
      <input type="submit" value="Edit Class">
    </form>
  </td>
  <td>
    <form action="/gymclasses/<%= gymclass.id %>/delete" method = "POST">
      <input type="submit" value="Delete Class">
    </form>
  </td>
  </tr>
  <% end %>
</table>

<form action="/bookings/new" method="get">
  <input type="submit" value="Book a Class">
</form>
