<h2>View all Current Bookings</h2>

<form action="/members" method="get">
  <input class="btn btn--confirm" type="submit" value="Book a Class">
</form>

<br>

<table>
  <tr>
    <th>Member</th>
    <th>Class Booked</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><%= booking.member.member_name %></td>
    <td><%= booking.workout.workout_name %>, <%= booking.gymclass.start_date %>, <%= booking.gymclass.start_time %></td>
  <td><form action="/bookings/<%= booking.id %>/delete" method="POST">
  <input class="btn btn--delete" type="submit" value="Cancel Booking">
  </form>
  </td>
</tr>
<% end %>

</table>
