<h1>Book a Class Here!</h1>

<form action="/bookings" method="post">

  <label>
    Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.member_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a class and time:
    <select name="gym_class_id">
      <% for gymclass in @gymclasses %>
        <option value="<%= gymclass.id %>"><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %></option>
      <% end %>
    </select>
  </label>


  <input type="submit" value="Book Class">

</form>
