<h2>Book a Class Here</h2>

<p>Premium Member: <% if @member.premium_membership %> Yes
  <% else %> No <% end %></p>

<%# Logic needs to be re-factored and moved from erb page!! %>

<% if @member.premium_membership == true %>

<p>Classes available to book: Peak and Off-Peak (if not full)</p>
<br>
<hr>
<br>

<form action="/bookings" method="post">

  <label for="member_id"></label>
  <input type="hidden" name="member_id" value="<%= @member.id %>">

  <label>
    Select a class and time:
    <select name="gym_class_id">
      <% for gymclass in @gymclasses %>
        <% if gymclass.check_space_available == true %>
          <option value="<%= gymclass.id %>"><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %></option>
        <% else %>
          <option value="<%= gymclass.id %>" disabled><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %> - FULL</option>
        <% end %>
      <% end %>
    </select>
  </label>
  <input class="btn btn--confirm" type="submit" value="Book Class">
</form>

<% else %>

<p>Classes available to book: Off-peak only (if not full)</p>
<br>
<hr>
<br>

<form action="/bookings" method="post">

  <label for="member_id"></label>
  <input type="hidden" name="member_id" value="<%= @member.id %>">

  <label>
    Select a class and time:
    <select name="gym_class_id">
      <% for gymclass in @gymclasses %>
        <% if gymclass.peak == false %>
          <% if gymclass.check_space_available == true %>
            <option value="<%= gymclass.id %>"><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %></option>
          <% else %>
            <option value="<%= gymclass.id %>" disabled><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %> - FULL</option>
          <% end %>
        <% else %>
          <option value="<%= gymclass.id %>" disabled><%= gymclass.workout.workout_name %>, <%= gymclass.start_date %>, <%= gymclass.start_time %> - PEAK</option>
        <% end %>
      <% end %>
    </select>
  </label>
  <input class="btn btn--confirm" type="submit" value="Book Class">
</form>

<% end %>
